/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CORE */

[class*="col-"] {
    flex: 0 0 auto;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

