@import url(12Bool.css);

/* STYLE */

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.box{
    background-color: #006cfa;
    color: white;
    border: 1px solid white;
    text-align: center;
    padding: 10px;
}

.nested{
    background-color: #00e165;
    color: white;
    border: 1px solid #006cfa;
    padding: 10px;
    font-size: 13px;
}